@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENEL STİL AYARLARI */
body {
  font-family: 'Inter', sans-serif; /* Sadece temiz, modern font */
  @apply bg-slate-50 text-slate-800;
}

/* Sayfa Geçiş Animasyonları (Fade) */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}